.booking-container {
  display: flex;
  height: 88vh;
  gap: 20px;
  overflow: hidden; /* Prevent scroll bleed */
}


.left-side {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;      /* horizontal centering */
  gap: 10px;
  padding: 10px;
  margin-left: 10px;
  flex-shrink: 0; /* Prevent shrinking */
  overflow: hidden; /* Prevent scrolling */
}

.time-grid {
  flex-grow: 1;
  overflow-y: auto; /* Make only this side scrollable */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.time-grid div {
  padding: 10px;
  text-align: center;
  border: 1px solid #0000ff;
  cursor: pointer;
}

.booked {
  background-color: #ff4d4d;
  pointer-events: none;
}

.selected {
  background-color: #ffc107;
}
