<div class="booking-container">

  <div class="left-side">
  <select [(ngModel)]="selectedWallbox" (change)="onWallboxChange(selectedWallbox.id)">
    <option *ngFor="let wallbox of wallboxes" [ngValue]="wallbox">{{ wallbox.name }}</option>
  </select>

<mat-form-field appearance="fill">
  <mat-label>Select a date</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="selectedDate"
    (dateChange)="onDateChange($event)"
    name="selectedDate"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <div>
    Slots selected:
    <br/>
  <strong *ngIf="selectedSlots.size > 0">{{ getSelectedSlotRange() }}</strong>
  </div>

  <button (click)="confirmBooking()">Confirm booking</button>
  </div>

  <mat-divider class="vertical-divider" vertical></mat-divider>

    <div class="time-grid">
    <div *ngFor="let slot of timeSlots"
         [ngClass]="{
           'booked': slot.booked,
           'selected': isSelected(slot.key)
         }"
         (click)="toggleSlot(slot)">
      {{ slot.time | date: 'HH:mm' }}
    </div>
  </div>

</div>
