<div class="booking-container">
  <div class="left-side">
    <div class="menu-group">
      <mat-form-field appearance="fill">
        <mat-label>Select a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          (dateChange)="onDateChange($event)"
          name="selectedDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <select
        [(ngModel)]="selectedWallbox"
        (change)="onWallboxChange(selectedWallbox.id)"
      >
        <option *ngFor="let wallbox of wallboxes" [ngValue]="wallbox">
          {{ wallbox.owner.name + ' - ' + wallbox.name }}
        </option>
      </select>
    </div>

    <div class="menu-group">
      <div>
        Slots selected:
        <br/>
        <strong *ngIf="selectedSlots.size > 0">{{
          getSelectedSlotRange()
        }}</strong>
      </div>

      <button (click)="confirmBooking()">Confirm booking</button>
    </div>
  </div>

  <mat-divider class="vertical-divider" vertical></mat-divider>

  <div
    class="time-grid"
    [style.gridTemplateColumns]="
      'repeat(' + 60 / slotDurationMinutes + ', 1fr)'
    "
  >
    <div
      *ngFor="let slot of timeSlots"
      [ngClass]="{ booked: slot.booked, selected: isSelected(slot.key) }"
      [style.gridColumn]="getGridColumn(slot)"
      (click)="toggleSlot(slot)"
    >
      {{ slot.time | date : "HH:mm" }}
    </div>
  </div>
</div>
