<nav>
  <ul>
    <!-- <li><a routerLink="/book" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Book</a></li>
    <li><a routerLink="/charge" routerLinkActive="active">Charge</a></li>
    <li><a routerLink="/invoices" routerLinkActive="active">Invoices</a></li> -->
    <li><a routerLink="/smartphone" routerLinkActive="active">Smartphone</a></li>
    <li><a routerLink="/rcu" routerLinkActive="active">RCUs</a></li>
  </ul>
</nav>

<!-- Where routed content will be displayed -->
<router-outlet></router-outlet>
