<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading && invoices.length === 0" class="no-bookings">
  <h1>You have no finished bookings yet!</h1>
</div>

<table *ngIf="invoices.length > 0" mat-table [dataSource]="invoices" class="mat-elevation-z8">
  <!-- Wallbox Column -->
  <ng-container matColumnDef="wallbox">
    <th mat-header-cell *matHeaderCellDef> <strong>Wallbox</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.wallboxOwner}} - {{element.wallboxName}} </td>
  </ng-container>

  <!-- From Column -->
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef> <strong>From</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime | date:'short'}} </td>
  </ng-container>

<!-- To Column -->
<ng-container matColumnDef="to">
  <th mat-header-cell *matHeaderCellDef> <strong>To</strong> </th>
  <td mat-cell *matCellDef="let element"> {{ addOneMinute(element.endTime) | date:'short' }} </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="['wallbox', 'from', 'to']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['wallbox', 'from', 'to']" (click)="openDialog(row)"></tr>
</table>
